# Pandas的数据结构


导入pandas：  
三剑客

In [42]:
from pandas import Series,DataFrame
import numpy as np

### 1、Series

Series是一种类似与一维数组的对象，由下面两个部分组成：
- values：一组数据（ndarray类型）
- index：相关的数据索引标签

#### 1）Series的创建

两种创建方式：

(1) 由列表或numpy数组创建

    默认索引为0到N-1的整数型索引

In [4]:
#使用列表创建Series
Series([1,2,3,4,5],index=['a','b','c','d','e'],name='Hello')

a    1
b    2
c    3
d    4
e    5
Name: Hello, dtype: int64

In [2]:
#使用numpy创建Series

In [4]:
#使用name参数

- 还可以通过设置index参数指定索引

使用adarray数组创建Series

(2) 由字典创建:不能在使用index.但是依然存在默认索引

注意：数据源必须为一维数据

In [7]:
dict = {
    'hello':12,
    'hey':30
}
Series(data=dict)

hello    12
hey      30
dtype: int64

============================================

练习1：

使用多种方法创建以下Series，命名为s1：  
语文 150   
数学 150   
英语 150   
理综 300   

============================================

#### 2）Series的索引和切片

可以使用中括号取单个索引（此时返回的是元素类型），或者中括号里<font color=red>一个列表</font>取多个索引（此时返回的是一个Series类型）。

(1) 显式索引：

    - 使用index中的元素作为索引值
    - 使用s.loc[]（推荐）:注意，loc中括号中放置的一定是显示索引

 注意，此时是闭区间

In [9]:
s1 = Series(data=[1,2,3],index=['a','b','c'])
s1

a    1
b    2
c    3
dtype: int64

In [17]:
s1.loc["a"]

1

(2) 隐式索引：

    - 使用整数作为索引值
    - 使用.iloc[]（推荐）:iloc中的中括号中必须放置隐式索引

 注意，此时是半开区间

## 切片:隐式索引切片和显示索引切片

- 显示索引切片:index和loc

In [23]:
s1.loc["a":"c"]

a    1
b    2
c    3
dtype: int64

- 隐式索引切片：整数索引值和iloc

#### 3）Series的基本概念

可以把Series看成一个定长的有序字典

向Series增加一行：相当于给字典增加一组键值对

In [26]:
s1['a'] = 10
s1

a    10
b     2
c     3
dtype: int64

In [28]:
s1['d']=20
s1

a    10
b     2
c     3
d    20
dtype: int64

可以通过shape，size，index,values等得到series的属性

可以使用s.head(),tail()分别查看前n个和后n个值

当索引没有对应的值时，可能出现缺失数据显示NaN（not a number）的情况

- 使得两个Series进行相加

In [29]:
s1 = Series(data=[1,2,3,4,5],index=['a','b','c','d','e'])
s2 = Series(data=[1,2,3,4,5],index=['a','g','c','e','f'])
s1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [30]:
s2

a    1
g    2
c    3
e    4
f    5
dtype: int64

In [32]:
s = s1+s2

可以使用pd.isnull()，pd.notnull()，或s.isnull(),notnull()函数检测缺失数据

In [33]:
s.isnull()

a    False
b     True
c    False
d     True
e    False
f     True
g     True
dtype: bool

In [39]:
s[s.notnull()]

a    2.0
c    6.0
e    9.0
dtype: float64

#### 4）Series的运算

(1) + - * /

(2) add() sub() mul() div()  :  s1.add(s2,fill_value=0)

(3) Series之间的运算

- 在运算中自动对齐不同索引的数据
- 如果索引不对应，则补NaN

============================================

练习3：

1. 想一想Series运算和ndarray运算的规则有什么不同？

2. 新建另一个索引包含“文综”的Series s2，并与s2进行多种算术操作。

============================================

### 2、DataFrame

DataFrame是一个【表格型】的数据结构。DataFrame由按一定顺序排列的多列数据组成。设计初衷是将Series的使用场景从一维拓展到多维。DataFrame既有行索引，也有列索引。
- 行索引：index
- 列索引：columns
- 值：values

#### 1）DataFrame的创建
最常用的方法是传递一个字典来创建。DataFrame以字典的键作为每一【列】的名称，以字典的值（一个数组）作为每一列。

此外，DataFrame会自动加上每一行的索引。

使用字典创建的DataFrame后，则columns参数将不可被使用。

同Series一样，若传入的列与字典的键不匹配，则相应的值为NaN。

- 使用字典创建DF

In [50]:
dict = {
    "java":[90,22,66],
    'python':[12,33,66]
}
DataFrame(data=dict,index=['zhangsan','lisi','wangwu'])

          java  python
zhangsan    90      12
lisi        22      33
wangwu      66      66

- 使用ndarray创建DataFrame

In [45]:
DataFrame(data=np.random.randint(0,100,size=(3,6)))

    0   1   2   3   4   5
0  91   2  65  29   6  83
1  39  10  78  63  56  15
2  27  16  95  53  54   8

DataFrame属性：values、columns、index、shape

使用ndarray创建DataFrame：创建一个表格用于展示张三，李四，王五的java，python的成绩

In [ ]:
      zhn  li  wa
java
python

In [52]:
dict = {
    '张三':[100,99],
    '李四':[88,89],
    '王五':[78,98]
}
df = DataFrame(data=dict,index=['java','python'])
df

         张三  李四  王五
java    100  88  78
python   99  89  98

============================================

练习4：

根据以下考试成绩表，创建一个DataFrame，命名为df：
```
    张三  李四  
语文 150  0
数学 150  0
英语 150  0
理综 300  0
```

============================================

#### 2）DataFrame的索引

(1) 对列进行索引

    - 通过类似字典的方式  df['q']
    - 通过属性的方式     df.q

 可以将DataFrame的列获取为一个Series。返回的Series拥有原DataFrame相同的索引，且name属性也已经设置好了，就是相应的列名。

In [58]:
df.张三

java      100
python     99
Name: 张三, dtype: int64

In [57]:
df[['张三','李四']]

         张三  李四
java    100  88
python   99  89

In [67]:
#修改列索引
df.columns = ['zhangsan','lisi','wangwu']
df

        zhangsan  lisi  wangwu
java         100    88      78
python        99    89      98

(2) 对行进行索引

    - 使用.loc[]加index来进行行索引
    - 使用.iloc[]加整数来进行行索引
    
 同样返回一个Series，index为原来的columns。

In [69]:
df.loc['java']

zhangsan    100
lisi         88
wangwu       78
Name: java, dtype: int64

In [72]:
df['java':'python']

        zhangsan  lisi  wangwu
java         100    88      78
python        99    89      98

(3) 对元素索引的方法
    - 使用列索引
    - 使用行索引(iloc[3,1] or loc['C','q']) 行索引在前，列索引在后

#### 切片：

【注意】
直接用中括号时：
- 索引表示的是列索引
- 切片表示的是行切片

在loc和iloc中使用切片 ：      df.loc['B':'C','丙':'丁']

============================================

练习5：

使用多种方法对ddd进行索引和切片，并比较其中的区别

============================================

#### 3）DataFrame的运算

（1） DataFrame之间的运算

同Series一样：

- 在运算中自动对齐不同索引的数据
- 如果索引不对应，则补NaN

In [76]:
df + df

        zhangsan  lisi  wangwu
java         200   176     156
python       198   178     196

创建DataFrame df1 不同人员的各科目成绩，月考一

创建DataFrame df2 不同人员的各科目成绩，月考二  
有新学生转入

============================================

练习6：

1. 假设ddd是期中考试成绩，ddd2是期末考试成绩，请自由创建ddd2，并将其与ddd相加，求期中期末平均值。

2. 假设张三期中考试数学被发现作弊，要记为0分，如何实现？

3. 李四因为举报张三作弊立功，期中考试所有科目加100分，如何实现？

4. 后来老师发现有一道题出错了，为了安抚学生情绪，给每位学生每个科目都加10分，如何实现？

============================================

In [79]:
df1 = df - 5
df1

        zhangsan  lisi  wangwu
java          95    83      73
python        94    84      93

In [81]:
df

        zhangsan  lisi  wangwu
java         100    88      78
python        99    89      98

In [82]:
(df+df1)/2

        zhangsan  lisi  wangwu
java        97.5  85.5    75.5
python      96.5  86.5    95.5

In [86]:
#将张三的java成绩改成0
df1['zhangsan']['java'] = 0
df1

        zhangsan  lisi  wangwu
java           0    83      73
python        94    84      93

In [88]:
#将李四所有成绩加100
df1['lisi'] + 100

java      183
python    184
Name: lisi, dtype: int64

In [91]:
df1['lisi'] = df1['lisi'] + 100
df1

        zhangsan  lisi  wangwu
java           0   283      73
python        94   284      93

In [92]:
df1 + 10

        zhangsan  lisi  wangwu
java          10   293      83
python       104   294     103

In [94]:
df1 = df1 + 10