## 1. 创建多层列索引

In [3]:
import pandas as pd
from pandas import DataFrame,Series
import numpy as np

### 1) 隐式构造

最常见的方法是给DataFrame构造函数的index或者columns参数传递两个或更多的数组

   qizhong qizhong  qimo   qimo
    chinese math  chinese  math
tom  100    90      80     70

jay  100    90      80     70

In [2]:
df = DataFrame(data=np.random.randint(80,100,size=(2,4)),index=['tom','jay'],columns=[['qz','qz','qm','qm'],['chinese','math','chinese','math']])
df

         qz           qm
    chinese math chinese math
tom      91   95      85   89
jay      80   83      80   89

### 2) 显示构造pd.MultiIndex.from_

- 使用数组

In [4]:
#创建了一个索引对象，该索引对象为二层索引
indexObj = pd.MultiIndex.from_arrays([['qz','qz','qm','qm'],['chinese','math','chinese','math']])

In [5]:
#创建DF对象
DataFrame(data=np.random.randint(80,100,size=(2,4)),index=['tom','jar'],columns=indexObj)

         qz           qm
    chinese math chinese math
tom      88   89      85   91
jar      98   84      91   91

    - 使用product:

    最简单，推荐使用

In [18]:
col=pd.MultiIndex.from_product([['qizhong','qimo'],
                                ['chinese','math']])

In [20]:
#创建DF对象
df = DataFrame(data=np.random.randint(60,120,size=(2,4)),index=['tom','jay'],
         columns=col)

## 2. 多层行索引

除了列索引，行索引也能用上述同样的方法创建多层行索引

## 3. 多层索引对象的索引与切片操作

In [21]:
df

    qizhong         qimo
    chinese math chinese math
tom      70  111      71   87
jay      76   66      96  111

### 1）DataFrame的操作

- 获取所有学生所有科目期末考试成绩

In [23]:
df.qimo
df['qimo']

     chinese  math
tom       71    87
jay       96   111

- 获取所有学生期末的math的考试成绩

In [25]:
df['qimo']['math']

tom     87
jay    111
Name: math, dtype: int32

- 获取tom期中所有科目的考试成绩

In [28]:
df.qizhong.loc['tom']

chinese     70
math       111
Name: tom, dtype: int32

- 获取tom期末的math成绩

In [30]:
df['qimo']

     chinese  math
tom       71    87
jay       96   111

In [31]:
df['qimo'].loc['tom']

chinese    71
math       87
Name: tom, dtype: int32

In [32]:
df['qimo'].loc['tom']['math']

87

- 获取Tom Jay期中chinese和期末math

In [34]:
df['qizhong']['chinese']

tom    70
jay    76
Name: chinese, dtype: int32

注意在对行索引的时候，若一级行索引还有多个，对二级行索引会遇到问题！也就是说，无法直接对二级索引进行索引，必须让二级索引变成一级索引后才能对其进行索引！

In [35]:
df

    qizhong         qimo
    chinese math chinese math
tom      70  111      71   87
jay      76   66      96  111

切片操作

In [41]:
#获取张三李四期中的php和c++成绩
df1 = df['qizhong']
df1

     chinese  math
tom       70   111
jay       76    66

In [49]:
df1.loc[:,'chinese':'math']

     chinese  math
tom       70   111
jay       76    66

In [50]:
#获取张三李四所有的成绩

df['tom':'jay']

    qizhong         qimo
    chinese math chinese math
tom      70  111      71   87
jay      76   66      96  111

In [57]:
df

    qizhong         qimo
    chinese math chinese math
tom      70  111      71   87
jay      76   66      96  111

In [58]:
df['qimo']

     chinese  math
tom       71    87
jay       96   111

In [59]:
df['qimo'].loc['tom','math']

87

In [16]:
# 总结：
# 访问一列或多列 直接用中括号[columnname]  [[columname1,columnname2...]]
#访问一行或多行  .loc[indexname]
# 访问某一个元素  .loc[indexname,columnname]  获取李四期中的php成绩
# 行切片          .loc[index1:index2]        获取张三李四的期中成绩
# 列切片          .loc[:,column1:column2]    获取张三李四期中的php和c++成绩

============================================

练习9：

1. 分析比较Series和DataFrame各种索引的方式，熟练掌握.loc()方法

2. 假设张三再一次在期中考试的时候因为特殊原因放弃英语考试，如何实现？

============================================

## 5. 聚合操作

所谓的聚合操作：平均数，方差，最大值，最小值……

============================================

练习11：

1. 计算各个科目期中期末平均成绩

2. 计算各科目张三李四的最高分

============================================